<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./upload/logo.png" type="image/png">
    <link rel="stylesheet" href="./css/style.css">
    <title>Super dog</title>
</head>
<body>


    <header>
        <h2>SUPER DOG</h2>
    </header>
    
        <section id="menu-mobile">
            <div id="icon"><img src="./upload/icone.jpg" alt=""></div>
            <nav>
                <ul>
                    <li id="contato-pedido-mobile">FAZER MEU PEDIDO</li>
                    <li id="contato-home-mobile">HOME</li>
                    <li id="contato-contato-mobile">CONTATO</li>
                </ul>
            </nav>
        </section>
    
    <section id="menu">
        <nav>
            <ul>
                <a href="http://localhost:10/" rel="noopener noreferrer"><li id="contato-home">HOME</li></a>
                <a href="http://localhost:10/pedidos" target="_blank" rel="noopener noreferrer"><li id="contato-pedido">FAZER MEU PEDIDO</li></a>
                <a href="https://web.whatsapp.com/send?phone=5544997576872&text=" rel="noopener noreferrer"><li id="contato-contato">CONTATO</li></a>
            </ul>
        </nav>
    </section>

    <section>
        <div id="img-principal"><img src="./upload/img/hamburguer.png" alt="hamburguer"></div>
    </section>
  

    <footer><p>Todos os direitos reservados</p></footer>
</body>
</html>