<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/menubutton.css">
</head>
<body>
    <div id="menubutton">
        <a href="http://localhost:10/cadastrodeproduto"><button id="newprod">Cadastrar produto</button></a>
        <a href="http://localhost:10/editar"><button id="editprod">Editar produto</button></a>
        <a href="http://localhost:10/deletar"><button id="deleteprod">Excluir produto</button></a>
    </div>
</body>
</html>